<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('ユーザー情報新規登録',~{::link},~{::script})">
</head>
<body>
<div class="box">
	<div th:replace="common :: header"></div>

	<div class="container-fluid">
		<div class="card mt-2 pt-2">
			<div class="card-heading"><h2>ユーザー情報新規登録</h2></div>
			<div class="card-body">
				<div><a class="btn btn-link" href="/user/list">一覧画面へ</a></div>
				<form th:action="@{/user/create}" th:method="post" th:object="${user_request}">
   					<div class="form-group">
						<label class="control-label">ユーザーID</label>
						<input class="form-control" type="text" th:field="*{username}" autocomplete="off" />
						<label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red"></label>
					</div>
					<div class="form-group">
						<label class="control-label">パスワード</label>
						<input class="form-control" type="password" th:field="*{password}" autocomplete="off" />
					</div>
					<div class="form-group">
						<label class="control-label">パスワード(確認用)</label>
						<input class="form-control" type="password" th:field="*{passwordCheck}" autocomplete="off" />
						<label th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}" style="color: red"></label>
					</div>
					<div class="form-group">
						<label class="control-label">表示用名称</label>
						<input class="form-control" type="text" th:field="*{displayName}" />
						<label th:if="${#fields.hasErrors('displayName')}" th:errors="*{displayName}" style="color: red"></label>
					</div>
					<div class="form-group">
						<label class="control-label">ユーザー権限</label>
						<br>
						<table class="table table-borderless" style="width:500px;">
							<tbody>
								<tr>
									<td><input type="radio" name="userrole" th:value="全体管理者" th:text="全体管理者" th:field="*{userRole}" /></td>
									<td><input type="radio" name="userrole" th:value="企業管理者" th:text="企業管理者" th:field="*{userRole}" /></td>
									<td><input type="radio" name="userrole" th:value="リファイナー" th:text="リファイナー" th:field="*{userRole}" /></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="form-group">
						<label class="control-label">企業名称</label>
						<br>
						<select id="singleSelect" name="company_items" th:field="*{company}">
							<option th:each="item : ${company_items}" th:value="${item.value}" th:text="${item.value}"
							th:selected="${item.value} == *{company}">singleSelect</option>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label">有効／無効</label>
						<br>
						<table class="table table-borderless" style="width:300px;">
							<tbody>
								<tr>
									<td><input type="radio" name="enabled" th:value="有効" th:text="有効" th:field="*{enabled}" /></td>
									<td><input type="radio" name="enabled" th:value="無効" th:text="無効" th:field="*{enabled}" /></td>
								</tr>
							</tbody>
						</table>
					</div>
					<br>
					<div class="col text-center">
						<button class="btn btn-primary" type="submit">新規登録</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div th:replace="common :: footer"></div>
</div>
</body>
</html>