<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('ユーザー情報一覧',~{::link},~{::script})">
</head>
<body>
<div class="box">
	<div th:replace="header :: header"></div>

	<div class="container">
		<div class="card mt-2 p-3">
			<div class="card-heading"><h2>ユーザー情報一覧</h2></div>
			<div class="card-body">
				<div><a class="btn btn-link" th:href="@{/user/add}">新規登録はこちら</a></div>
				<table class="table">
					<thead>
						<tr>
							<th>ユーザーID</th>
							<th>表示用名称</th>
							<th>企業名称</th>
							<th>権限</th>
							<th>種別</th>
						</tr>
					</thead>
					<tbody>
					    <tr th:each="user : ${user_request_list}" th:object="${user}">
					        <td><a class="btn btn-link" th:href="@{/user/{id}/edit(id=*{id})}" th:text="*{username}"></a></td>
					        <td th:text="*{displayName}"></td>
					        <td th:text="*{company}"></td>
					        <td th:text="*{userRole}"></td>
					        <td th:text="*{enabled}"></td>
					    </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div th:replace="footer :: footer"></div>
</div>
</body>