<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('ユーザー情報一覧',~{::link},~{::script})">
</head>
<body>
<div class="box">
	<div th:replace="header :: header"></div>

	<div class="container-fluid">
		<div class="card mt-2 p-3">
			<div class="card-heading"><h2>ユーザー情報一覧</h2></div>
			<div class="card-body">
				<div><a class="btn btn-primary" th:href="@{/user/add}">ユーザー情報の新規登録</a></div>

				<div class="my-box mb-3"></div>
				<table class="table table-hover table-bordered">
					<thead class="thead-darknavy">
						<tr>
							<th><div class="text-center">ユーザーID</div></th>
							<th><div class="text-center">表示用名称</div></th>
							<th><div class="text-center">企業名称</div></th>
							<th><div class="text-center">権限</div></th>
							<th><div class="text-center">種別</div></th>
						</tr>
					</thead>
					<tbody>
					    <tr th:each="user : ${user_request_list}" th:object="${user}" class="clickable-row" th:data-href="@{/user/{id}/edit(id=*{id})}">
					        <td><div class="text-center" th:text="*{username}"></div></td>
					        <td><div class="text-center" th:text="*{displayName}"></div></td>
					        <td><div class="text-center" th:text="*{company}"></div></td>
					        <td><div class="text-center" th:text="*{userRole}"></div></td>
					        <td><div class="text-center" th:text="*{enabledName}"></div></td>
					    </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div th:replace="footer :: footer"></div>
</div>
</body>