@charset "UTF-8";

.dropdown:hover > .dropdown-menu {
  display: block;
}

.table .thead-darknavy th {
  color: #fff;
  background-color: #02325F;
  border-color: #95999c;
}

html {
	/* ページ全体の基準フォントサイズ */
    font-size: 12px;
}