<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('従業員情報一括登録',~{::link},~{::script})">
</head>
<body>
<div class="box">
	<div th:replace="header :: header"></div>

	<div class="container">
		<div class="card mt-2 p-3">
			<div class="card-heading"><h2>従業員情報一括登録</h2></div>
			<div class="card-body">
				<form action="/employee/upload" th:action="@{/employee/upload}" method="post" enctype="multipart/form-data" th:object="${employeeFileRequest}">
					<div class="input-group">
						<label class="input-group-btn">
							<span class="btn btn-primary">
								ファイルの読み込み <input type="file" name="employeeFile" style="display:none" />
							</span>
						</label>
						<input type="text" class="form-control" readonly="readonly">
					</div>
					<span th:if="${#fields.hasErrors('employeeFile')}" class="text-danger" th:errors="*{employeeFile}">Error</span>
					<span th:if="${regist_result}">登録が完了しました。</span>
					<div class="col text-center">
						<button class="btn btn-primary" type="submit">登録</button>
					</div>
					<br>
				</form>
			</div>
		</div>
	</div>

	<div th:replace="footer :: footer"></div>
</div>
</body>
</html>