<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common :: meta_header('従業員情報編集',~{::link},~{::script})">
</head>
<body>
<div class="box">
	<div th:replace="header :: header"></div>

	<div class="container">
		<div class="card mt-2 p-3">
			<div class="card-heading"><h2>従業員情報編集</h2></div>
			<div class="card-body">
				<div><a class="btn btn-primary" th:href="@{/employee/list}">従業員情報検索一覧へ戻る</a></div>
				<div class="my-box mb-3"></div>
				<form th:action="@{/employee/{id}(id=*{id})}" th:method="post" th:object="${employee_request}">
					<div class="row align-items-center" style="height:40px;">
						<div class="col-md-2 col-lg-2">
							企業コード：
						</div>
						<div class="col-md-3 col-lg-3">
							<input class="form-control" type="text" th:field="*{companyID}" readonly="readonly" />
						</div>
					</div>

					<div class="row align-items-center" style="height:40px;">
						<div class="col-md-2 col-lg-2">
							従業員番号：
						</div>
						<div class="col-md-3 col-lg-3">
							<input class="form-control" type="text" th:field="*{employeeCode}" readonly="readonly" />
						</div>
					</div>

					<div class="row align-items-center" style="height:40px;">
						<div class="col-md-2 col-lg-2">
							従業員名字：
						</div>
						<div class="col-md-3 col-lg-3">
							<input class="form-control" type="text" th:field="*{employeeFName}" readonly="readonly" />
						</div>
					</div>

					<div class="row align-items-center" style="height:40px;">
						<div class="col-md-2 col-lg-2">
							入社年月：
						</div>
						<div class="col-md-3 col-lg-3">
							<input class="form-control" type="text" th:field="*{hireYM}" readonly="readonly" />
						</div>
					</div>

					<div class="row align-items-center" style="height:40px;">
						<div class="col-md-2 col-lg-2">
							扶養有無：
						</div>
						<div class="col-md-3 col-lg-3">
							<input class="form-control" type="text" th:field="*{support}" readonly="readonly" />
						</div>
					</div>

					<div class="row align-items-center" style="height:40px;">
						<div class="col-md-2 col-lg-2">
							採用種別：
						</div>
						<div class="col-md-3 col-lg-3">
							<input class="form-control" type="text" th:field="*{adopt}" readonly="readonly" />
						</div>
					</div>

					<div class="row align-items-center" style="height:40px;">
						<div class="col-md-2 col-lg-2">
							就業種別：
						</div>
						<div class="col-md-10 col-lg-10">
							<div class="row align-items-center">
								<div th:each="employ, stat : *{employItems}" class="col-md-12 col-lg-3">
									<input type="radio" name="employCode" th:value="${stat.index}" th:text="*{employItems[__${stat.index}__]}" th:field="*{employCode}" />
								</div>
							</div>
						</div>
					</div>

					<div class="my-box mb-3"></div>
					<div class="col text-center">
						<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modalconfirm">
							更新
						</button>
						<div class="modal fade" id="modalconfirm" tabindex="-1" role="dialog" aria-labelledby="labelconfirm" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="labelconfirm">従業員情報更新</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
									<div class="modal-body">
										入力した内容で従業員情報を更新します。
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
										<button class="btn btn-primary" type="submit">更新</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div th:replace="footer :: footer"></div>
</div>
</body>
</html>