<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('従業員情報検索',~{::link},~{::script})">
</head>
<body>
<div class="box">
	<div th:replace="header :: header"></div>

	<div class="container">
		<div class="card mt-2 p-3">
			<div class="card-heading"><h2>従業員情報検索</h2></div>
			<div class="card-body">
				<form th:action="@{/employee/search}" th:method="post" th:object="${employee_request}">
					<div class="form-group">
						<label class="control-label">企業コード</label>
						<input class="form-control" type="text" th:field="*{companyID}" />
					</div>
					<div class="form-group">
						<label class="control-label">従業員番号</label>
						<input class="form-control" type="text" th:field="*{employeeCode}" />
					</div>
					<div class="col text-center">
						<button class="btn btn-primary" type="submit">検索</button>
					</div>
				</form>
				<br>
				<table class="table">
					<thead>
						<tr>
							<th>企業コード</th>
							<th>従業員番号</th>
							<th>従業員名字</th>
							<th>入社年月</th>
							<th>採用種別</th>
							<th>扶養有無</th>
							<th>就業種別</th>
						</tr>
					</thead>
					<tbody>
					    <tr th:each="employee : ${employee_request_list}" th:object="${employee}">
							<td><a class="btn btn-link" th:href="@{/employee/{id}/edit(id=*{id})}" th:text="*{companyID}"></a></td>
							<td th:text="*{employeeCode}"></td>
							<td th:text="*{employeeFName}"></td>
							<td th:text="*{hireYMShort}"></td>
							<td th:text="*{adoptCode}"></td>
							<td th:text="*{supportCode}"></td>
							<td>
								<div th:if="*{employCode == '退職済'}" class="text-danger">
									<a th:text="*{employCode}"></a>
								</div>
								<div th:if="!*{employCode == '退職済'}">
									<a th:text="*{employCode}"></a>
								</div>
							</td>
					    </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div th:replace="footer :: footer"></div>
</div>
</body>