<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>企業情報新規登録</title>
<!-- 	<link href="/css/add.css" rel="stylesheet"></link> -->
	<link href="/css/list.css" rel="stylesheet"></link>
	<link th:href="@{/css/styles.css}" rel="stylesheet"/>
<!-- 	<link rel="stylesheet" href="/css/bootstrap.css" /> -->
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<meta charset="utf-8" />
</head>
<body>
<div class="box">
	<div id="header-fixed">
		<div id="header-bk">
			<div id="header">
				<div id="header-left">
					<span class="sizeb24"><a href="/" id="header">Reiwa Refiner System</a></span>
				</div>
				<div id="header-right">
					<form role="form" id="logout" th:action="@{/logout}" method="post">
	        			<button type="submit">ログアウト</button>
				    </form>
				</div>
			</div>
		</div>
	</div>
	<div id="body-bk">
		<div id="body">
			<div style="padding: 1px; margin-bottom: 0px; border: 1px solid #333333; border-radius: 10px; width: 500px;">
				<h1>企業情報新規登録</h1>
				<form th:action="@{/company/create}" th:object="${company}" method="post">
					<table>
						<tr>
							<th class="cell_title">企業名称</th>
							<th class="cell_required"></th>
							<td><input type="text" th:field="*{name}"></td>
						</tr>
					</table>
					<div class="btn_area_center"><input type="submit" value="登録" class="btn"></div>
				</form>
			</div>
		</div>
	</div>
	<div id="footer-fixed">
		<div id="footer-bk">
			<div id="footer">
				<span class="size12">Copyright &copy レイワソリューションズ株式会社</span>
			</div>
		</div>
	</div>
</div>
</body>
</html>