<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('企業情報一覧',~{::link},~{::script})">
</head>
<body>
<div class="box">
	<div th:replace="common :: header"></div>

	<div class="container-fluid">
		<div class="card mt-2 pt-2">
			<div class="card-heading"><h2>企業情報一覧</h2></div>
			<div class="card-body">
				<div><a class="btn btn-link" th:href="@{/company/add}">新規登録はこちら</a></div>
				<table class="table">
					<thead>
						<tr>
							<th>企業コード</th>
							<th>企業名称</th>
							<th>種別</th>
						</tr>
					</thead>
					<tbody>
					    <tr th:each="company : ${company_request_list}" th:object="${company}">
					        <td><a class="btn btn-link" th:href="@{/company/{id}/edit(id=*{id})}" th:text="*{id}"></a></td>
					        <td th:text="*{name}"></td>
					        <td th:text="*{enabled}"></td>
					    </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div th:replace="common :: footer"></div>
</div>
</body>