<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>header</title>
</head>
<body>
    <div th:fragment="header" class="sticky-top">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/">Reiwa Refiner System</a>
				<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber"
				aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="Navber">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item disabled">
							<a class="nav-link" href="/interview/add">面談結果新規登録</a>
						</li>
						<li class="nav-item disabled">
							<a class="nav-link" href="/interview/list">面談結果検索</a>
						</li>
							<li class="nav-item">
							<a class="nav-link" href="/employee/bulkregist">従業員一括登録</a>
						</li>
						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
								設定
							</a>
							<div class="dropdown-menu mt-0" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="/employee/list" >従業員情報検索</a>
								<a class="dropdown-item" href="/user/list">ユーザー情報一覧</a>
								<a class="dropdown-item" href="/company/list">企業情報一覧</a>
								<a class="dropdown-item disabled" href="#" aria-disabled="true">面談結果検索初期表示設定変更</a>
							</div>
						</li>
					</ul>
					<div sec:authorize="isAuthenticated()">
						<span sec:authentication="principal.username">userさん</span>
					</div>
					<form class="form-inline my-2 my-lg-0" id="logout" th:action="@{/logout}" method="post">
		       			<button type="submit" class="btn btn-primary">ログアウト</button>
					</form>
				</div>
			</nav>
		</div>
	</div>

    <div th:fragment="header-login">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="#">Reiwa Refiner System</a>

			</nav>
		</div>
	</div>
</body>
</html>